<div ng-controller="HomepageController" class="container">

    <h2>Transparent, Direct, Charity</h2>

    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <div ng-repeat="cause in causes">
                <p>
                    {{ cause.description }}
                </p>
            </div>

        </div>
    </div>

    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">

                    <input type="text" class="form-control input-lg text-center" placeholder="username" ng-model="formData.username">
                </div>

                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="createTodo()">Create</button>
            </form>
        </div>
    </div>

</div>

