<div ng-controller="ViewCauseController">
    <style>
        .mdl-tabs__panel {
            padding-top: 50px;
        }
        .img-banner {
            margin-bottom: 50px;
            background-size: cover;
            background-position-y: 50%;height: 210px;text-align: center;
        }
    </style>
    <div class="container">
        <h2>{{ cause.title }}</h2>
        <div class="img-banner" style="background-image: url({{ cause.photoURI }});">
            
        </div>

        <table style="margin:0 auto;" ng-if="cause.contractors.length > 0" class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Contractor</th>
                    <th>Price</th>
                    <th>Votes</th>
                </tr>
            </thead>
            <tbody ng-repeat="contractor in cause.contractors" >
                <tr>
                    <td>{{ contractor.name }}</td>
                    <td>£{{ contractor.price }}</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table style="margin:0px auto 25px auto;" class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Total pledged</th>
                    <th>£{{ cause.currentFundsTotal }}</th>
                    <th>(non-distributed)</th>
                </tr>
            </thead>
        </table>
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#campaign" class="mdl-tabs__tab is-active">Campaign</a>
                <a href="#updates" class="mdl-tabs__tab">Updates</a>
                <a href="#contractors" class="mdl-tabs__tab">Contractors</a>
                <a ng-show="normalUser" href="#donate" class="mdl-tabs__tab">Donate</a>
            </div>

            <div class="mdl-tabs__panel is-active" id="campaign">
                <p class="dark-text">{{ cause.description }}</p>
                <p>{{ cause.details }}</p>
            </div>
            <div class="mdl-tabs__panel" id="updates">
                <span>04 March 2017</span>
                <h4>Local goverment agreed to contract</h4>
                <br />
                <p>
                    Donec non ex sed odio laoreet porta. Etiam ac consequat nunc. Cras imperdiet sit amet sapien non pellentesque. Etiam vel sollicitudin arcu. Vestibulum a lorem congue, lobortis sem eu, aliquam diam. Pellentesque eu volutpat odio. Sed pharetra arcu ut purus rhoncus pellentesque. Sed a euismod sapien. Aenean ultricies ultrices mattis.
                </p>
                
            </div>
            <div class="mdl-tabs__panel" id="contractors">
                
                <ul ng-repeat="contractor in cause.contractors" ng-if="cause.contractors.length > 0" class="col-md-6">
                    <li>{{ contractor.name }}<br>Price: £{{ contractor.price }}</li>
                </ul>
                <div ng-if="cause.contractors.length <= 0">
                    <h5>No contractors yet</h5>
                </div>
            </div>

            <div id="donate" ng-show="normalUser" class="mdl-tabs__panel" >
                <form style="margin: 0 auto;width: 200px;display: block;">
                    <div style="display: block; width: 100%;" class="mdl-textfield mdl-js-textfield">
                        £<input style="display: inline-block;width: 135px;" class="mdl-textfield__input" type="text" id="d" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="amount">
                        <label style="padding-left: 15px;" class="mdl-textfield__label" for="d">I want to donate</label>
                    </div>
                    <input type="submit" ng-click="donate(amount)" value="Donate" class="mdl-button mdl-js-button mdl-button--raised"/>
                </form>
            </div>
        </div>
        
    </div>
    <script>
        if(!(typeof(componentHandler) == 'undefined')){
            componentHandler.upgradeAllRegistered();
        }
    </script>
</div>
