<div ng-controller="ViewCauseController">
    <style>
        .mdl-tabs__panel {
            padding-top: 50px;
        }
        .img-banner {
            margin-bottom: 50px;
            background-size: cover;
            background-position-y: 50%;height: 210px;text-align: center;
        }
    </style>
    <div class="container">
        <h2>{{ cause.title }}</h2>
        <div class="img-banner" style="background-image: url({{ cause.photoURI }});">
            
        </div>
        <div class="row">
            <div class="col-sm-6">
                <section style="max-width: 300px;">
                    <div style="width:100%;">
                        <div class="ct-chart ct-perfect-fourth"></div>
                    </div>
                <section>
            </div>
            <div class="col-sm-6">
                <table style="margin:0px auto 25px auto;" class="mdl-data-table mdl-js-data-table">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Total pledged</th>
                            <th>£{{ cause.currentFundsTotal }}</th>
                            <th>(non-distributed)</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#campaign" class="mdl-tabs__tab is-active">Campaign</a>
                <a href="#updates" class="mdl-tabs__tab">Updates</a>
                <a href="#contractors" class="mdl-tabs__tab">Contractors</a>
            </div>

            <div class="mdl-tabs__panel is-active" id="campaign">
                <p class="dark-text">{{ cause.description }}</p>
                <p>{{ cause.details }}</p>
            </div>
            <div class="mdl-tabs__panel" id="updates">
                <span>04 March 2017</span>
                <h4>Local goverment agreed to contract</h4>
                <br />
                <p>
                    Donec non ex sed odio laoreet porta. Etiam ac consequat nunc. Cras imperdiet sit amet sapien non pellentesque. Etiam vel sollicitudin arcu. Vestibulum a lorem congue, lobortis sem eu, aliquam diam. Pellentesque eu volutpat odio. Sed pharetra arcu ut purus rhoncus pellentesque. Sed a euismod sapien. Aenean ultricies ultrices mattis.
                </p>
                
            </div>
            <div class="mdl-tabs__panel" id="contractors">
                <div ng-if="cause.contractors.length <= 0">
                        <h5>No contractors yet</h5>
                    </div>
                <form style="margin: 0 auto;max-width: 400px;display: block;">
  
                    <table style="margin:0 auto;" ng-show="cause.contractors.length > 0" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="mdl-data-table__cell--non-numeric">Contractor</th>
                                <th>Price</th>
                                <th>Votes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input id="n" name="contractor1" ng-model="donation.contractor1" type="checkbox"></td>
                                <td class="mdl-data-table__cell--non-numeric">Local Infrastructure Company</td>
                                <td>£230000</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td><input id="j" name="contractor2" ng-model="donation.contractor2" type="checkbox"></td>
                                <td class="mdl-data-table__cell--non-numeric">Vintage Water Pipes</td>
                                <td>£190000</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                    
                
                    <div  style="display: block; width: 100%;" class="mdl-textfield mdl-js-textfield">
                        £<input style="display: inline-block;width: 135px;" class="mdl-textfield__input" type="text" id="d" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="donation.amount">
                        <label style="padding-left: 15px;" class="mdl-textfield__label" for="d">I want to donate</label>
                    </div>
                    <input type="submit" ng-click="donate(donation)" value="Donate" class="mdl-button mdl-js-button mdl-button--raised"/>
                </form>
            </div>

            
        </div>
        
    </div>
    <script>
        if(!(typeof(componentHandler) == 'undefined')){
            componentHandler.upgradeAllRegistered();
        }

        function initChart(totalPledged, contractors) {
            var labels = [];
            var series = [[]];
            for (var i = 1; i <= contractors.length; i++) {
                labels.push("C" + i);
                series[0]
            }
            new Chartist.Bar('.ct-chart', {
                labels: labels,
                series: [
                    [800000, 1200000, 1400000, 1300000], // con 1, con 2, con 3, con 4 (specificFundsPledged)
                    [200000, 400000, 500000, 300000]     // con 1, con 2, con 3, con 4 (price - specificFundsPledged)
                    
                ]
            }, {
                stackBars: true,
                axisY: {
                    labelInterpolationFnc: function(value) {
                    return (value / 1000) + 'k';
                    }
                }
            }).on('draw', function(data) {
                if(data.type === 'bar') {
                    data.element.attr({
                        style: 'stroke-width: 30px'
                    });
                }
            });
        }
    </script>
</div>
